/* Mobile */
@media screen and (min-width: 320px) and (max-width: 520px) {
  .ftr-4-box {
    width: 100%;
    float: none;
    margin: 0;
    padding: 15px 0;
  }
  .slider-box p,
  .slide-btn {
    display: none;
  }
  .slider-box h3 {
    font-size: 20px;
  }
  .product-head-box p{
    width: 100%;
  }
  .bg-color{
    position: static;
    width: auto;
  }
  .outer-area{
    padding: 0;
  }
  #product_cat_slider {
    margin-top: 25px;
  }
}

/* Mobile Portrait View */
@media screen and (max-width: 767px) {
  #mySidenav nav#site-navigation {
    background: transparent;
  }
  .wpcf7 input[type="text"],
  .wpcf7 input[type="tel"],
  .wpcf7 input[type="email"],
  .wpcf7 textarea {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  #mySidenav nav#site-navigation {
    background: transparent;
  }
  .slider-box h3 {
    font-size: 50px;
  }
  .bg-color{
    position: static;
    width: auto;
  }
  .outer-area{
    padding: 0;
  }
  .logo,.social-icons{
    border: none;
  }
  .header{
    overflow-y: unset;
  }
}

@media screen and (max-width: 1000px) {
  .slider-box {
    left: 15%;
    right: 15%;
    text-align: center;
  }
  .toggle-nav button {
    font-weight: 500;
    border: none;
    background: #37180e;
    color: #fff;
    font-size: 18px;
    padding: 16px;
    margin: 10px 0;
  }
  .sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: -110%;
    overflow-x: hidden;
    transition: 0.5s top ease-in-out;
    overflow-y: scroll;
    background: #37180e;
    opacity: 0.9;
    visibility: hidden;
  }
  body.show-main-menu .sidenav {
    visibility: visible;
    top: 0;
    transition: 0.5s top ease-in-out;
  }
  .sidenav .close-button {
    font-size: 36px;
    display: block !important;
    color: #fff;
    padding: 18px;
  }
  .sidenav #site-navigation {
    width: 100%;
  }
  .toggle-nav span {
    font-size: 30px;
    cursor: pointer;
    text-align: right;
  }
  .main-nav ul ul li,
  .menubar .nav ul li,
  .toggle-nav {
    display: block;
  }
  .main-nav ul li a {
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: block;
    float: none;
    margin: 5px 0;
    border-right: none;
  }
  .main-nav ul li ul li a:before {
    content: "\00BB \00a0";
  }
  .main-nav ul.sub-menu a:hover {
    padding-left: 20px !important;
    background: #fff !important;
  }
  .main-nav ul ul {
    position: static;
    width: 100%;
    background: transparent !important;
    border-top-width: 0px;
    border-bottom-width: 0px;
    box-shadow: none;
  }
  .main-nav ul ul a {
    border-bottom: none;
    padding-left: 40px;
  }
  .main-nav ul ul ul.sub-menu a {
    padding-left: 40px;
  }
  .main-nav li {
    padding: 0 15px;
    display: block;
    border-bottom: solid 1px #565656;
  }
  .main-nav ul li:last-child {
    border-bottom: 1px #565656 solid;
  }
  .main-header-box {
    padding-bottom: 15px;
  }
  #mySidenav {
    text-align: left;
    display: inline;
  }
  .main-menu {
    padding: 0em;
  }
  .main-nav ul.sub-menu > li > a:before {
    content: unset;
  }
  .main-nav ul.sub-menu > li > a:hover:before {
    opacity: 0;
    left: 0px;
    width: 0px;
  }
  .main-nav a:hover,
  .main-nav ul ul a:hover {
    color: #37180e;
  }
  .main-nav ul ul li{
    text-align: center;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .slider-box {
    left: 15%;
    right: 15%;
  }
  .slider-box h3 {
    font-size: 40px;
  }
}
